spring:
  application:
    name: Account
  mvc:
    pathmatch:
      matching-strategy: ANT_PATH_MATCHER
  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
    url: jdbc:mysql://localhost:3306/account1
    username: root
    password: root
  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQL8Dialect
        format_sql: true
        use_sql_comments: true
    show-sql: true


  #for the calling configservice i.e another service
  config:
    import: optional:configserver:http://localhost:8880/

  #for rabbit mq
  #  rabbitmq:
  #    host: "localhost"
  #    port: 5672
  #    username: "guest"
  #    password: "guest"
#shot down from postman using actuato
  management:
    endpoints:
      web:
        exposure:
          include: "*"
    endpoint:
      shutdown:
        enabled: true
    info:
      env:
        enabled: true

  endpoints:
    shutdown:
      enabled: true

logging:
  level:
    org:
      hibernate:
        SQL: DEBUG
        type:
          descriptor:
            sql:
              BasicBinder: TRACE
springdoc:
  api-docs:
    enabled: true
  swagger-ui:
    enabled: true
    path: /swagger-ui.html

  #calling the central config

